.body{
    background-image: url(tlo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.karty {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}


.karta {
  border: 3px solid lightgray;
  border-radius: 10px;
  width: 220px;
  padding: 10px;
  background-color: gray;
  box-shadow: 0 0 10px #0006;
}


.kolka {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

.moc {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ikona {
  background-color: gold;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.karta img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  border-bottom: 3px solid black;
}

h2 {
  margin: 8px 0 5px 0;
  color: #333;
  font-size: 16px;
}

p {
  font-size: 13px;
  margin: 3px 0;
}

.zdolnosc {
  color: #553300;
  font-weight: bold;
}